{% extends '_index.html' %}

{% block title %}Commercial Asphalt Paving{% endblock %}


{% block sections %}
{% load static %}

 <!-- banner seciton -->
	<section id="banner" class="banner">
						<div class="content primary">
							<header>
								<h1>Commercial Asphalt Paving</h1>
								<p>Call Now: <a href="tel:416-896-2802" class="major">(416) 896-2802</a></p>
							</header>
							
						</div>
						<div class="content secondary">
							<div class="inner">
								<ul class="actions special">
								<li><a href="#email" class="button large wide scrolly">Get a FREE Estimate!</a></li>
							</ul>
							</div>
						</div>
						<img src="{% static 'images/service5.jpg' %}" alt="" /> 

	</section>

 <!-- end of banner section -->



<section id="one" class="main alt">


<div class=" alt">
		<div class="content2">

				<div class="row gtr-200">
										<div class="col-6 col-12-medium">


												<img class="image main fit pic" src="{% static 'images/Parking-Lot.png' %}" alt="" />

										</div> <!--end col-->

											<div class="col-6 col-12-medium">

						
													<h3>Commercial paving</h3>
														
																<p>
																	The commercial paving process differs from the residential process, as these areas need to endure a heavy traffic flow. Again, every paving process is unique to what the customer wants to achieve; whether it is a new pavement, an overlay, asphalt repairs, etc. From design to construction, we will stand by our work and provide our experience and creativity to make any of your dream projects come to life.
																		<br />
																		<br />
																	Fase Construction Inc can enhance your property with an attractive and functional pavement surface that will last for decades to come. We would love to show you both the quality and affordability of our work first hand, so call us today at (416) 896-2802 for a complimentary evaluation and quotation.
															
																</p>
														
						
											</div> <!--end col-->
						
						
						
				</div><!--row-->
					
					
					<hr/>


				<div class="row gtr-200">
					
								<div class="col-6 col-12-medium">

										
													<h3>OUR SERVICES​</h3>
														<div class="box">
																<p>

																										
																	
																	+ Commercial Paving & Maintenance
																	<br/>
																	+ Parking Lot Paving / Parking Lot Construction
																	<br/>
																	+ Construction Site Design & Paving
																	<br/>
																	+ Road Paving
																	<br/>
																	+ Parking Lot Resurfacing
																	<br/>
																	+ Subdivisions Paving
																	<br/>
																	+ Line Painting & Curb Installation
																	<br/>
																	+ Bike and Pedestrian Paths
																	<br/>
																	+ Golf Pathway Paving
																	<br/>
																	+ Asphalt Repairs
																	<br/>
																	+ Potholes Repairs
																	<br/>
																	+ Asphalt Overlay / Asphalt Resurfacing
																	<br/>
																	+ Catch Basin Repair
																	<br/>
																	+ Access Road Paving
																	<br/>
																	+ Highway Tie-Ins
																	<br/>
																	+ Gravel Work

																</p>
														</div>	
								</div> <!--end col-->

								<div class="col-6 col-12-medium">
				
										<img class="image main fit pic" src="{% static 'images/Parking-Lot.png' %}" alt="" />
						
								</div> <!--end col-->
								
				</div><!--row-->


				<div class="row gtr-200">
					
								<div class="col-6 col-12-medium">

										<img class="image main fit pic" src="{% static 'images/Parking-Lot.png' %}" alt="" />
													
								</div> <!--end col-->

							<div class="col-6 col-12-medium">
				
										
							<h1>Our process. </h1>
											<p>


											A professional estimator of Fase Construction  will survey the proposed area, assess its soil condition, stability, elevation and any water drainage issues. We will then be able to issue recommendations towards the work to be completed
											</p>
								
							</div>
				</div><!--row-->

					






				<div class="row gtr-200">
					
								<div class="col-6 col-12-medium">

										
													<h3>New Pavement Construction​</h3>
														<div class="box">
																<p>

																		

																		Depending on the soil content, any clay or inappropriate material will be excavated to a depth of 30-100cm, geotextile material will be installed and the area will be backfilled and compacted with new aggregate. If the soil already has a solid gravel base, appropriate compaction will be achieved.
																		Once the base work is completed, the surface will be paved using 75-150mm of hot-mix asphalt (depending on traffic flow and weight) and compacted to proper standards.
								
																	
																

																</p>
														</div>	
								</div> <!--end col-->

								<div class="col-6 col-12-medium">
										<h3>Resurfacing </h3>
														<div class="box">
																<p>

																		

																		
																		At first, we will determine if the existing pavement surface has deteriorated due to its age, poor base condition or poor prior concrete and asphalt application. Clay, dirt and high humidity in the soil will involve some base work to be completed prior to paving. Once any base work is completed, the surface will be cleaned and a bonding agent will be applied to the existing pavement. The surface will be paved using 50-100mm of hot-mix asphalt (depending on traffic flow and weight) and compacted to proper standards.

																	
																

																</p>
														</div>	
								</div> <!--end col-->
								
				</div><!--row-->






		</div><!--content-->
	</div><!--inner-->



<!--- pre footer -->

	<header class="accent1">
							<h1>LET US SERVE YOU</h1>
						<a href="#email" class="button large wide scrolly">Get a FREE Estimate!</a>
	</header>

</section>



{% endblock sections %}