{% extends '_index.html' %}

{% block title %}Residential Asphalt Paving{% endblock %}


{% block sections %}
{% load static %}

 <!-- banner seciton -->
	<section id="banner" class="banner">
						<div class="content primary">
							<header>
								<h1>Residential Asphalt Paving</h1>
								<p>Call Now: <a href="tel:416-896-2802" class="major">(416) 896-2802</a></p>
							</header>
							
						</div>
						<div class="content secondary">
							<div class="inner">
								<ul class="actions special">
								<li><a href="#email" class="button large wide scrolly">Get a FREE Estimate!</a></li>
							</ul>
							</div>
						</div>
						<img src="{% static 'images/service5.jpg' %}" alt="" /> 

	</section>

 <!-- end of banner section -->



<section id="one" class="main alt">


<div class=" alt">
		<div class="content2">

				<div class="row gtr-200">
										<div class="col-6 col-12-medium">


												<img class="image main fit pic" src="{% static 'images/Parking-Lot.png' %}" alt="" />

										</div> <!--end col-->

											<div class="col-6 col-12-medium">

						
													<h3>Residential Paving</h3>
														
																<p>
																Are you in need of a new looking driveway? Looking to upgrade your gravel driveway to blacktop pavement? Fase Construction Inc has great experience in transforming gravel surfaces, old asphalt and concrete driveways, as well as areas laid to lawn into stunning new driveway designs	
																</p>
														
						
											</div> <!--end col-->
						
						
						
				</div><!--row-->
					
					
					<hr/>


				<div class="row gtr-200">
					
								<div class="col-6 col-12-medium">

										
													<h3>OUR SERVICES​</h3>
														<div class="box">
																<p>

																										
																	
																	
																+ Driveway Design & Construction
																<br/>
																+ Driveway Resurfacing
																<br/>
																+ Acreage Driveway Paving
																<br/>
																+ Back Alley Driveway Paving
																<br/>
																+ Driveway Construction & Installation
																<br/>
																+ Driveway Removal
																<br/>																
																+ Asphalt Driveway Repairs
																<br/>
																+ Gravel Driveway Installation & Repairs
																<br/>
																+ Haul Away Services


																</p>
														</div>	
								</div> <!--end col-->

								<div class="col-6 col-12-medium">
				
										<img class="image main fit pic" src="{% static 'images/Parking-Lot.png' %}" alt="" />
						
								</div> <!--end col-->
								
				</div><!--row-->
			
					<hr/>


				<div class="row gtr-200">
					
								<div class="col-6 col-12-medium">

										<img class="image main fit pic" src="{% static 'images/Parking-Lot.png' %}" alt="" />
													
								</div> <!--end col-->

							<div class="col-6 col-12-medium">
				
										
							<h1>Our process. </h1>
											<p>


											A professional estimator of Fase Construction  will survey the proposed area, assess its soil condition, stability, elevation and any water drainage issues. We will then be able to issue recommendations towards the work to be completed
											</p>
								
							</div>
				</div><!--row-->

					






				<div class="row gtr-200">
					
								<div class="col-6 col-12-medium">

										
													<h2>New Pavement Construction​</h2>
														<div class="box">
																<p>

																		

																	Deteriorating driveways could be a result of incorrect construction, subsidence, flooding, invading tree roots, solvent spillage and age; to name but a few. We will evaluate the condition of your driveway and provide recommendations for your project.	
																

																</p>
														</div>	
								</div> <!--end col-->

								<div class="col-6 col-12-medium">
										<h3>Resurfacing </h3>
														<div class="box">
																<p>

																		

																		
																		Fase Construction Inc  can enhance your property with an attractive and functional driveway that will last for years to come. We would love to show you both the quality and affordability of our work first hand, so call us today at <a href="tel:416-896-2802" class="major"> (416) 896-2802 </a> for a complimentary evaluation and quotation.
																	
																

																</p>
														</div>	
								</div> <!--end col-->
								
				</div><!--row-->






		</div><!--content-->
	</div><!--inner-->



<!--- pre footer -->

	<header class="accent1">
							<h1>LET US SERVE YOU</h1>
						<a href="#email" class="button large wide scrolly">Get a FREE Estimate!</a>
	</header>

</section>



{% endblock sections %}