{% extends '_index.html' %}

{% block title %}Commercial Asphalt Paving{% endblock %}


{% block sections %}
{% load static %}

 <!-- banner seciton -->
	<section id="banner" class="banner">
						<div class="content primary">
							<header>
								<h1>Asphalt Paving</h1>
								<p>Call Now: <a href="#" class="major">(416) 896-2802</a></p>
							</header>
							
						</div>
						<div class="content secondary">
							<div class="inner">
								<ul class="actions special">
								<li><a href="#email" class="button large wide scrolly">Get a FREE Estimate!</a></li>
							</ul>
							</div>
						</div>
						<img src="{% static 'images/service5.jpg' %}" alt="" /> 




					</section>

 <!-- end of banner section -->



<section id="one" class="main alt">


<div class="inner alt">
							<div class="content">

								<div class="row gtr-200">
									<div class="col-6 col-12-medium">


			<img class="image main fit" src="{% static 'images/Parking-Lot.png' %}" alt="" style="width:100%;height:450px; margin:3em 0 0 0"/>




					</div> <!--end col-->

					<div class="col-6 col-12-medium">

					
					<h3>Commercial paving</h3>
				<div class="box">
				<p>

The commercial paving process differs from the residential process, as these areas need to endure a heavy traffic flow. Again, every paving process is unique to what the customer wants to achieve; whether it is a new pavement, an overlay, asphalt repairs, etc. From design to construction, we will stand by our work and provide our experience and creativity to make any of your dream projects come to life.

Go Asphalt can enhance your property with an attractive and functional pavement surface that will last for decades to come. We would love to show you both the quality and affordability of our work first hand, so call us today at (780) 686-5700 for a complimentary evaluation and quotation.
</p>
				</div>
					
					</div> <!--end col-->
					
					
					
					</div><!--row-->
					
					
					<hr/>


				<div class="row gtr-200">
					<div class="col-6 col-12-medium">

					<h3>Blockquote</h3>
					<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis.</blockquote>





					</div> <!--end col-->

					<div class="col-6 col-12-medium">

					
				
				<img class="image main fit" src="{% static 'images/Parking-Lot.png' %}" alt="" />
			
					
					</div> <!--end col-->
					
					
					
					</div><!--row-->



					
			</div><!--content-->
		</div><!--inner-->


	<header class="accent1">
							<h1>Elements Page</h1>
							<p>Ipsum dolor lorem feugiat magna neque egestas augue
							 eu vulpu magna erat. Aliquam erat volutpat. Nam dui mi tincidunt.</p>
	</header>

</section>



{% endblock sections %}