{% extends '_index.html' %}

{% block title %}Excavation{% endblock %}


{% block sections %}
{% load static %}

 <!-- banner seciton -->
	<section id="banner" class="banner">
						<div class="content primary">
							<header>
								<h1>Excavation</h1>
								<p>Call Now: <a href="tel:416-896-2802" class="major">(416) 896-2802</a></p>
							</header>
							
						</div>
						<div class="content secondary">
							<div class="inner">
								<ul class="actions special">
								<li><a href="#email" class="button large wide scrolly">Get a FREE Estimate!</a></li>
							</ul>
							</div>
						</div>
						<img src="{% static 'images/exca_main.jpg' %}" alt="" /> 

	</section>

 <!-- end of banner section -->



<section id="one" class="main alt">


<div class=" alt">
		<div class="content2">

				<div class="row gtr-200">
										<div class="col-6 col-12-medium">


												<img class="image main fit pic" src="{% static 'images/exca_one.jpg' %}" alt="" />

										</div> <!--end col-->

											<div class="col-6 col-12-medium">

						
													<h2>Excavation </h2>
														
																<p>
																
																	Fase Construction Inc. specializes in high-end excavation services. Using our top-notch equipment, various resources, and ability to change your property, we always try to meet our client's needs. At Fase Construction Inc. we aim to be the leader in this industry by concentrating on reliability, communication, scheduling, and entire performance. Keeping this goal in mind, we offer the complete excavation service packages to our clients.
																	</p>
														
						
											</div> <!--end col-->
						
						
						
				</div><!--row-->
					
					
					<hr/>


				<div class="row gtr-200">
					
								<div class="col-6 col-12-medium">

										
													<h2>	
																Building Site Excavation Service</h2>
														<div class="box">
																<p>

																										
																		At Fase Construction Inc. we work with our clients to prepare their lands for whatever they have planned for it. For many years, we have been serving in this excavation industry and with the passing of time; we have fine-tuned our abilities and knowledge as well to offer the most trustworthy excavation services in the GTA and surrounding areas. All of our jobs are done maintaining strict safety precautions and Canadian rules and regulations. Our efficiency, experience, and professionalism make us the best option for land excavation service.
																



																</p>
														</div>	
								</div> <!--end col-->

								<div class="col-6 col-12-medium">
				
										<img class="image main fit pic" src="{% static 'images/exca_two.jpg' %}" alt="" />
						
								</div> <!--end col-->
								
				</div><!--row-->

						<hr/>

				<div class="row gtr-200">
					
								<div class="col-6 col-12-medium">

										<img class="image main fit pic" src="{% static 'images/exca_three.jpg' %}" alt="" />
													
								</div> <!--end col-->

							<div class="col-6 col-12-medium">
				
										
							<h1>Our process. </h1>
											<p>


											A professional estimator of Fase Construction  will survey the proposed area, assess its soil condition, stability, elevation and any water drainage issues. We will then be able to issue recommendations towards the work to be completed
											</p>
								
							</div>
				</div><!--row-->

					






				<div class="row gtr-200">
					
								<div class="col-6 col-12-medium">

										
													<h2>How We Will Server You?</h2>
														<div class="box">
																<p>

																		We are the experts in offering building excavation services in the GTA. Well, it depends on the land you purchase. Often we need to remove the tree stumps or some other rubbish materials as well. We are experienced to complete the entire excavation process in no time.

																
																	

																</p>
														</div>	
								</div> <!--end col-->

								<div class="col-6 col-12-medium">
										<h2>Driveway Excavation Service</h2>
														<div class="box">
																<p>

																		

																		

																We are expert in offering every sort of driveway excavation service in The GTA and surrounding areas , ranging from easy to difficult. We are able to make space to broaden your driveway or can excavate any driveway. Hiring us, you can be sure of getting the most trustworthy Canadian driveway excavation service which you require for your development or project.


																</p>
														</div>	
								</div> <!--end col-->
								
				</div><!--row-->






		</div><!--content-->
	</div><!--inner-->



<!--- pre footer -->

	<header class="accent1">
							<h1>LET US SERVE YOU</h1>
						<a href="#email" class="button large wide scrolly">Get a FREE Estimate!</a>
	</header>

</section>



{% endblock sections %}