{% extends '_index.html' %}

{% block title %}Landscaping{% endblock %}


{% block sections %}
{% load static %}

 <!-- banner seciton -->
	<section id="banner" class="banner">
						<div class="content primary">
							<header>
								<h1>Landscaping</h1>
								<p>Call Now: <a href="tel:416-896-2802" class="major">(416) 896-2802</a></p>
							</header>
							
						</div>
						<div class="content secondary">
							<div class="inner">
								<ul class="actions special">
								<li><a href="#email" class="button large wide scrolly">Get a FREE Estimate!</a></li>
							</ul>
							</div>
						</div>
						<img src="{% static 'images/grass_main2.jpg' %}" alt="" /> 

	</section>

 <!-- end of banner section -->



<section id="one" class="main alt">


<div class=" alt">
		<div class="content2">

				<div class="row gtr-200">
										<div class="col-6 col-12-medium">


												<img class="image main fit pic" src="{% static 'images/grass_2.jpg' %}" alt="" />

										</div> <!--end col-->

											<div class="col-6 col-12-medium">

						
													<h2>Landscaping </h2>
														
																<p>
																
																	Landscaping enhances the aesthetic beauty and increases the value of your home while contributing to its looks and integrity. By planting a few shrubs and trees in the yard and doing some amazing stonework along the walkway can do wonders. At Fase Construction inc, we are one of the best landscaping companies in Calgary. We are here to transform the outdated exteriors of your property with breathtaking lawns and picture-perfect yards.

																</p>														
						
											</div> <!--end col-->
						
						
						
				</div><!--row-->
					
					
					<hr/>


				<div class="row gtr-200">
					
								<div class="col-6 col-12-medium">

										
													<h2>	
																Building Site Excavation Service</h2>
														<div class="box">
																<p>

																										
																	
																
																	+ Brick Pavers
																	<br/>
																	+ Complete Redesign & Build
																	<br/>
																	+ Garden Ponds
																	<br/>
																	+ Landscape Architecture
																	<br/>
																	+ New Home Construction Landscape Design & Build
																	<br/>
																	+ Outdoor Fireplaces & Fire Pits
																	<br/>
																	+ Outdoor Grills (built-in)
																	<br/>
																	+ Outdoor Kitchens
																	<br/>
																	+ Patios
																	<br/>
																	+ Paver Driveways
																	<br/>
																	+ Pergolas
																	<br/>
																	+ Play Areas
																	<br/>
																	+ Retaining Walls
																	<br/>
																	+ Walkways
																	<br/>
																	+ Water Features


																</p>
														</div>	
								</div> <!--end col-->

								<div class="col-6 col-12-medium">
				
										<img class="image main fit pic" src="{% static 'images/grass_grow.jpg' %}" alt="" />
						
								</div> <!--end col-->
								
				</div><!--row-->


				<div class="row gtr-200">
					
								<div class="col-6 col-12-medium">

										<img class="image main fit pic" src="{% static 'images/grass_4.jpg' %}" alt="" />
													
								</div> <!--end col-->

							<div class="col-6 col-12-medium">
				
										
							<h1>Our process. </h1>
											<p>


											Right from your first call till the completion of the project, we will be there for you. Our landscaping experts in The GTA are focused on getting to know you and your preferences. Our aim is to deliver exactly what you want. We take our time to understand your needs and ideas so that you can have an amazing outdoor space. We provide a wide range of landscape design options with a variety of materials that can enhance the functionality and look of your landscape.
											</p>
								
							</div>
				</div><!--row-->

					






				<div class="row gtr-200">
					
								<div class="col">

										
													<h2>Why Choose Us?</h2>
														<div class="box">
																<p>

																	
																	If you are looking for a licensed and insured landscaping expert in The GTA, count on us. We are helping the GTA residents in owning modern and luxurious outdoors at an affordable price. Based on your needs and taste, we are here to turn your landscape vision into a reality. With a team of passionate professionals, we strive to deliver 100% customer satisfied services.
	

																

																</p>
														</div>	
								</div> <!--end col-->

													
				</div><!--row-->






		</div><!--content-->
	</div><!--inner-->



<!--- pre footer -->

	<header class="accent1">
							<h1>LET US SERVE YOU</h1>
						<a href="#email" class="button large wide scrolly">Get a FREE Estimate!</a>
	</header>

</section>



{% endblock sections %}