{% extends '_index.html' %}
{% load static %}


{% block title %}Home page{% endblock %}




{% block sections %}

	<!-- Banner -->
					<section id="banner" class="banner">
						<div class="content primary">
							<header>
								<h1>You are in good hands<br />
								Our work defines our vision</h1>
								<p>Call Now: <a href="#" class="major">(416) 896-2802</a></p>
							</header>
							<ul class="actions special">
								<li><a href="#email" class="button large wide scrolly">Get a FREE Estimate!</a></li>
							</ul>
						</div>
						<div class="content secondary">
							<div class="inner">
								<div class="features">
									<section>
										<span class="icon fa-gem major"></span>
										<h3>Quality</h3>
										<p>The quality job you deserve, at the best price.</p>
									</section>
									<section>
										<span class="icon solid fa-chart-line major"></span>
										<h3>Value</h3>
										<p>Let us increase the value of you commercial or residential property </p>
									</section>
									<section>
										<span class="icon solid fa-trophy major"></span>
										<h3>Premiun Services </h3>
										<p>Get premium services you deserve, with the contractor you can trust.</p>
									</section>
								</div>
							</div>
						</div>
						<img src="{% static 'images/home_main.jpg' %}" alt="" /> 




					</section>

			
			

				

			
				<!-- Section -->
					<section id="two" class="main accent2">
						<header>
							<h2>What Sets Us Apart</h2>
							<p>
fase provides you with an efficient, professional experience from the first visit to the last. Our service team will arrive at your location in professional attire, prepared to service your driveway with respect, quality of care and experience. Resulting in a beautiful result that you can show off to your friends and family.

</p>
						</header>
						<div class="inner">
							<span class="image main"></span>
						</div>
					</section>

				


				<!-- Section -->
					<section id="services" class="main alt">
						<header>
							<h2>Our Services</h2>
							<p>Quality Service At Compentitive Rates<p>
						</header>
						<div class="inner">
							<div class="posts">
								<div>
									<article>
										<a href="#" class="image">
                                        <img class="advertisement" src="{% static 'images/excavation2.jpg' %}" alt="" /></a>
										<div class="content">
											<h3>EXCAVATION</h3>
											<p>Latest Tools and Craftsmanship, Competitive Rates, Service
                                            Fast & Reliable Concrete cutting and removal solutions offered at competitive rates,
                                            </p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</div>
									</article>
									<article>
									<a href="#" class="image"><img class="advertisement" src="{% static 'images/snow_removal.png' %}" alt="" /></a>
										<div class="content">
											<h3>Snow Removal</h3>
											<p>Snow removal has to be rapid for business normal opperations and properlly done to protect your company against 
                                            the potential dangers due to snow and ice. Fase Inc uses heavy snow pushing equipment designed to handle GTA's snowy 
                                            winters and our attention to detail means the job is done right every time.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</div>
									</article>
								</div>
								<div>
									<article>
									<a href="#" class="image"><img class="advertisement" src="{% static 'images/images.jpeg' %}" alt="" /></a>
										<div class="content">
											<h3>ASPHALT PAVING </h3>
											<p>Looking to pave a new Asphalt driveway, or replace an old one? We know what to do big or small. 
                                            We've paved countless Asphalt Driveways in GTA area and know what it takes to get the job done right.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</div>
									</article>
									<article>
										<a href="#" class="image"><img class="advertisement" src="{% static 'images/download.jpeg' %}" alt="" /></a>
										<div class="content">
											<h3>CONCRETE/JEWELSTONE</h3>
											<p>At Fase Inc, we specialize in residential concrete projects. As your trusted concrete contractor in the GTA, we strive to provide exceptional service and quality workmanship</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</div>
									</article>
								</div>
                                	<div>
									<article>
									<a href="#" class="image"><img class="advertisement" src="{% static 'images/asphalt-maintenance.jpg' %}" alt="" /></a>
										<div class="content">
											<h3>MAINTENANCE</h3>
											<p>Fase Inc can also remove and replace existing cracked or broken concrete material to restore your sidewalk or driveway. Our team has been working on commercial and residential projects for over 15 years. Let us put our experience to work for you..</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</div>
									</article>
									<article>
										<a href="#" class="image"><img class="advertisement" src="{% static 'images/landscaping.jpg' %}" alt="" /></a>
										<div class="content">
											<h3>LANDSCAPING</h3>
											<p>Whether you are looking to create the perfect escape, a more functional and comfortable outdoor entertaining area, or simply looking to increase the value of your property, here at face we can help you, contact us to  begin turning your vision into a beautiful outdoor and enjoy the years to come.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</div>
									</article>
								</div>
							</div>
						</div>
					</section>
				




     <section id="email" class="banner" >

<div class="inner content primary">
   <div class="posts">
     
       
    
            <div class="col-19  col-10-small inner">
                    <h1>Need Pricing? </h1> 
                    <br>
                    <h1>Get a FREE Estimate!</h1>
            </div>
            
    
        
        
        <div class="col-9  col-10-small center inner ">
      	                <form method="post" action="#" class="text">
												<div class="row gtr-uniform">
													<div class="col-6 col-12-xsmall">
														<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
													</div>
													<div class="col-6 col-12-xsmall">
														<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
													</div>
													<!-- Break -->
													<div class="col-12">
														<select name="demo-category" id="demo-category">
															<option value="">- Category -</option>
															<option value="1">PAVING</option>
															<option value="1">LANDSCAPING</option>
															<option value="1">CONCRETE/JEWELSTONE</option>
															<option value="1">EXCAVATION</option>
															<option value="1">SNOW REMOVAL</option>
														</select>
													</div>
													<!-- Break -->
													<div class="col-4 col-12-small">
														<input type="radio" id="demo-priority-low" name="demo-priority" checked>
														<label for="demo-priority-low">Low</label>
													</div>
													<div class="col-4 col-12-small">
														<input type="radio" id="demo-priority-normal" name="demo-priority">
														<label for="demo-priority-normal">Normal</label>
													</div>
													<div class="col-4 col-12-small">
														<input type="radio" id="demo-priority-high" name="demo-priority">
														<label for="demo-priority-high">High</label>
													</div>
													<!-- Break -->
													<div class="col-6 col-12-small">
														<input type="checkbox" id="demo-copy" name="demo-copy">
														<label for="demo-copy">Email me a copy</label>
													</div>
													<div class="col-6 col-12-small">
														<input type="checkbox" id="demo-human" name="demo-human" checked>
														<label for="demo-human" class="text">I am a human</label>
													</div>
													<!-- Break -->
													<div class="col-12">
														<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
													</div>
													<!-- Break -->
													<div class="col-12">
														<ul class="actions">
															<li><input type="submit" value="Send Message" class="primary" /></li>
															<li><input type="reset" value="Reset" /></li>
														</ul>
													</div>
												</div>
							</form>
                        </div>
		

										

        </div>

        </div>
</section>

				
{% endblock sections %}