{% extends '_index.html' %}

{% block title %}Excavation{% endblock %}


{% block sections %}
{% load static %}

 <!-- banner seciton -->
	<section id="banner" class="banner">
						<div class="content primary">
							<header>
								<h1>Snow Removal</h1>
								<p>Call Now: <a href="tel:416-896-2802" class="major">(416) 896-2802</a></p>
							</header>
							
						</div>
						<div class="content secondary">
							<div class="inner">
								<ul class="actions special">
								<li><a href="#email" class="button large wide scrolly">Get a FREE Estimate!</a></li>
							</ul>
							</div>
						</div>
						<img src="{% static 'images/snow_main.jpg' %}" alt="" /> 

	</section>

 <!-- end of banner section -->



<section id="one" class="main alt">


<div class=" alt">
		<div class="content2">

				<div class="row gtr-200">
										<div class="col-6 col-12-medium">


												<img class="image main fit pic" src="{% static 'images/snow_two.jpg' %}" alt="" />

										</div> <!--end col-->

											<div class="col-6 col-12-medium">

						
													<h2>Snow removal services </h2>
														
																<p>
																We provide full snow removal services to businesses, shopping centres, institutions, apartment complexes, organizations, and more.

																From push and pile services to hauling all the snow away we can help you establish the proper snow removal contract depending on your needs. 



																</p>
						
											</div> <!--end col-->
						
						
						
				</div><!--row-->
					
					
					<hr/>


				<div class="row gtr-200">
					
								<div class="col-6 col-12-medium">

										
													<h2>	
																OUR SERVICES​</h2>
														<div class="box">
																<p>
																
 
																+ Commercial Snow Removal
																<br/>
																+ Parking Lot Snow Removal
																<br/>
																+ Apartment Building Snow Removal
																<br/>
																+ Sidewalks clearing
																<br/>
																+ Rock Chip & Ice Melts
																<br/>
																+ Push and Pile Services
																<br/>
																+ Hauling Snow Away Services

																										
																	
																



																</p>
														</div>	
								</div> <!--end col-->

								<div class="col-6 col-12-medium">
				
										<img class="image main fit pic" src="{% static 'images/snow_services.jpg' %}" alt="" />
						
								</div> <!--end col-->
								
				</div><!--row-->


			




				<div class="row gtr-200">
					
								<div class="col-6 col-12-medium">

										
													<h2>Land Excavation Service</h2>
														<div class="box">
																<p>

																		
																	At Fase Construction Inc. we work with our clients to miantain their property in top woking shape. For many years, we have been serving in this snow removeal  industry and with the passing of time; we have fine-tuned our abilities and knowledge as well to offer the most trustworthy  services in the GTA and surrounding areas. All of our jobs are done maintaining strict safety precautions and Canadian rules and regulations. Our efficiency, experience, and professionalism make us the best option to maintain and service your property.
																

																</p>
														</div>	
								</div> <!--end col-->

								<div class="col-6 col-12-medium">
										<h2>Driveway Excavation Service</h2>
														<div class="box">
																<p>

																		

																		


																		We are experts in offering all types of road and property snow removal services in the GTA and surrounding areas, from easy to difficult. By hiring us, you can be sure of getting the most reliable Canadian snow removal for your property.


																</p>
														</div>	
								</div> <!--end col-->
								
				</div><!--row-->






		</div><!--content-->
	</div><!--inner-->



<!--- pre footer -->

	<header class="accent1">
							<h1>LET US SERVE YOU</h1>
						<a href="#email" class="button large wide scrolly">Get a FREE Estimate!</a>
	</header>

</section>



{% endblock sections %}